@*@model Model.Post*@
@model IEnumerable<Model.Post>

@{
    ViewBag.Title = "Vote";
    eVoting.DAL.UnitOfWork work = new eVoting.DAL.UnitOfWork();
}

<h1>VOTE FOR CHANGE!</h1>
<br />

@using (Html.BeginForm("Voted", "Post"))
{
    @Html.ValidationSummary(true)

@*<fieldset>
        <legend>Post</legend>*@

    foreach (var post in Model)
    {
        List<Model.Participant> theParticipants = work.ParticipantRepository.Get(a => a.PostID == post.PostID).ToList();
    <fieldset>
        <legend>Position -<b>@post.PostName</b></legend>
        @foreach (var man in theParticipants)
        {

            <div>
                <img src="@Url.Action("GetImage", "Participant", new { id = man.ParticipantID })"  width="80" height="80" />
              @* <input type="radio" name="@Html.Raw(man.Post.PostName)" value="@Html.Raw(man.ParticipantID)"/><b>@Html.Raw(man.LastName + "  ")@Html.Raw(man.FirstName + "  ")@Html.Raw(man.MiddleName + "  ")</b>*@
                 <input type="radio" name="@Html.Raw(post.PostName)" value="@Html.Raw(man.ParticipantID)"/><b>@Html.Raw(man.LastName + "  ")@Html.Raw(man.FirstName + "  ")@Html.Raw(man.MiddleName + "  ")</b>
                <hr />
            </div>
               
 @*man.CandidateId*@
           
        }


    </fieldset>
    <br />
    <br />
    <br />
    <br>
    }

@* <div class="editor-label">
            @Html.LabelFor(model => model.PostName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostName)
            @Html.ValidationMessageFor(model => model.PostName)
        </div>*@

    <p>
        <input class="btn btn-primary" type="submit" value="Submit Vote" />
    </p>@*
    </fieldset>*@
}



@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
